@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Ink Free';
    src: url('/fonts/Inkfree.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}